<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Movie DB</title>
</head>
<body>
<!-- Templates -->
    <script type="text/template" id="movie">
        <div class="rating"><%- rating %></div>
        <figure>
            <img src="<%- img %>" alt="<%- name %>"/>
        </figure>
        <h4><%- title %></h4>
    </script>
    <header>
        <nav>
            <ul>
                <li><a href="#!main">Главная</a></li>
                <li><a href="#!films">Фильмы</a></li>
                <li><a href="#!contacts">Контакты</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h3>Movies DB</h3>
        <section class="content"></section>
    </main>
    <script src="build.js"></script>
</body>
</html>