<!doctype html>
<html lang="ru" data-ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Movies DB</title>
    <link rel="stylesheet" href="./css/style.css"/>
</head>
<body data-ng-controller="mainController">
<div class="container">
    <div ng-repeat="item in data" class="item_film" ng-click="getFilm({id: item.id})" ng-mouseover="onHover()" ng-mouseleave="onOut()">
        <figure>
            <img data-ng-src="{{pathImg + item.poster_path}}" alt="{{item.title}}"/>
        </figure>
        <div class="lang" data-ng-show="mouseHover">{{item.original_language}}</div>
        <div class="rating" data-ng-show="mouseHover">{{item.vote_average}}</div>
        <div class="title">{{item.title}}</div>
    </div>
    <pre>{{active | json}}</pre>
</div>
<div class="active_pop" data-ng-show="toggleFilm">
    <i class="close_active" ng-click="hideFilm()">x</i>
    <section class="active_pop__info">
        <div class="left_row">
            <figure class="active_pop__poster">
                <img ng-src="{{pathImg_1280 + active.poster_path}}" alt="active.title"/>
            </figure>
            <div class="active_pop__title">{{active.title}}</div>
        </div>
        <div class="right_row">
            <table>
                <tr>
                    <td>Название</td>
                    <td>{{active.title}}</td>
                </tr>
                <tr>
                    <td>Слоган</td>
                    <td>{{active.tagline}}</td>
                </tr>
                <tr>
                    <td>Дата выхода</td>
                    <td>{{active.release_date}}</td>
                </tr>
                <tr>
                    <td>Продолжительность</td>
                    <td>{{active.runtime}} мин.</td>
                </tr>
                <tr>
                    <td>Жанр</td>
                    <td><span data-ng-repeat="genre in active.genres">{{genre.name}}, </span></td>
                </tr>
                <tr>
                    <td>Бюджет</td>
                    <td>{{(active.budget/1000000)}}$ млн.</td>
                </tr>
                <tr>
                    <td>Синопсис</td>
                    <td>{{active.overview}}</td>
                </tr>
                <tr>
                    <td>Производство</td>
                    <td>{{active.production_companies[0].name || "Не указано"}}</td>
                </tr>
            </table>
        </div>
    </section>
</div>
</body>
<script src="./bundle.js"></script>
</html>